<sandhyadeep-header [showBackIcon]="true" class="z-index-999"></sandhyadeep-header>
<ion-content [scrollEvents]="true">
  <div class="page-heading">
    <div class="heading-text">
      <b>Portfolio</b>
    </div>
  </div>
  <div style="border-bottom: 10px solid #d3d3d37a;"></div>
  <div class="grid-container">
    <div *ngFor="let image of portfolios; let index = index">
      <img (load)="image.loaded = true" class='d-none grid-item grid-item-1' src="{{image.imageUrl}}" >
      <ng-container *ngIf="image.loaded; else loader">
        <img (click)="showImage(image.imageUrl)" class='grid-item grid-item-1' src="{{image.imageUrl}}" alt=''>
      </ng-container>
      <ng-template #loader>
        <ion-skeleton-text style="height: 200px;" [animated]="true"></ion-skeleton-text>
      </ng-template>
      <p>{{image?.name}}</p>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-logo-spinner></app-logo-spinner>
<app-footer-component></app-footer-component>





