.down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: ease-in-out 300ms;
}

.color-666 {
  color: #666;
}

.description-container {
  .description-toggle-menus {

    .toggle-menu-background {
      transition: all 0.1s;
      &.active {
        border-bottom: 3px solid var(--ion-color-sandhyadeep-pink);
      }

      .toggle-menu {
        color: #666;

        &.active {
          color: var(--ion-color-sandhyadeep-blue);
          font-weight: bold;
        }
      }
    }
  }
}

.about-us-page-container, .owner-container {
  .phone-number-div {
    .whatsapp-icon {
      background-color: green !important;
    }
  }

  .timing {
    color: #666;
  }
}

.product-container {
  .no-data {
    text-align: center;
    padding: 30px 0;
    color: #666;
  }
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.appointment-footer {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 0;

  .total-div-container {
    display: flex;
    padding: 10px;
    background: #d3d3d37d;
    justify-content: space-between;
    border-radius: 7px;

    .total-div {
      display: flex;

      .total-div-price {
        color: #666;
        margin-left: 15px;
      }
    }
  }
}

// Slider Style START
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
    height: 100%;
  }
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}

// Styling to show the arrow on slides - start

ion-grid {
  ion-row {
    position: relative;
    .ion-image-slides {
      margin-bottom: 10px;
      padding: 5px 0;
    }
  }
}

.scroll-arrow {
  display: flex;
  align-items: center;
  font-size: 35px;
  padding: 0 16px;
  color: white;
  position: absolute;
  z-index: 99999;
  height: 100%;
  width: 50%;
  &.arrow-left {
    background: linear-gradient(to right, #2f3032d1, #2f30327a, transparent, transparent, transparent);
  }
  &.arrow-right {
    justify-content: end;
    background: linear-gradient(to left, #2f3032d1, #2f30327a, transparent, transparent, transparent);
    left: 50%;
  }
}

.custom-slide {
  margin: 0 5px;
}

.know-more {
  color: #666;
}


.parlour-slide {
  ion-card {
    height: 360px;
    box-shadow: none;
    position: relative;
    margin-bottom: 35px;

    img {
      object-fit: cover;
      width: 100% !important;
      height: 100% !important;
      transform: scale(1.1, 1.1) rotate(1deg);
      transition: 600ms all ease-in-out;
    }
  }
}
