<sandhyadeep-header class="z-index-999"></sandhyadeep-header>
<ion-content>
    <div class="about-us-container px-3">
        <div class="image-container">
            <div class="about-us-image">
                <div class="parlour-slide">
                    <swiper #aboutUsSlide [config]="bannerSlideConfig">
                        <ng-template *ngFor="let packageData of parlourSlides" swiperSlide>
                            <img (load)="packageData.loaded = true" style="display: none" src="{{packageData?.imageUrl}}" alt="">
                            <ion-card>
                                <ng-container *ngIf="packageData?.loaded; else packImg">
                                    <img src="{{packageData?.imageUrl}}" alt="">
                                </ng-container>
                                <ng-template #packImg>
                                    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '100%'}"></ngx-skeleton-loader>
                                </ng-template>
                            </ion-card>
                        </ng-template>
                    </swiper>
                </div>
            </div>
            <div class="about-us-heading d-flex justify-content-between
                align-items-center flex-column my-4 mx-1
            ">
                <div class="heading-text text-base">
                    <b>Sandhyadeep Beauty Parlour</b>
                </div>
                <div class="slogan-text text-sm">
                    Have a hair affair with us
                </div>
            </div>
        </div>
        <div class="description-container pt-4">
            <div class="description-toggle-menus d-flex justify-content-between">
                <div matRipple [matRippleCentered]="true" (click)="onSelectMenu('about_us')"
                     class="toggle-menu-background pb-1 w-3/12 text-center transition-all
                     about-us"
                     [class.active]="selectedMenu === 'about_us'">
                    <div class="toggle-menu" [class.active]="selectedMenu === 'about_us'">About Us</div>
                </div>
                <div matRipple [matRippleCentered]="true" (click)="onSelectMenu('services')"
                     class="toggle-menu-background services"
                     [class.active]="selectedMenu === 'services'">
                    <div class="toggle-menu" [class.active]="selectedMenu === 'services'">Services</div>
                </div>
                <div matRipple [matRippleCentered]="true" (click)="onSelectMenu('owner')"
                     class="toggle-menu-background owner"
                     [class.active]="selectedMenu === 'owner'">
                    <div class="toggle-menu" [class.active]="selectedMenu === 'owner'">Our Owner</div>
                </div>
                <!--                TODO: We removed Products for now-->
                <!--                <div matRipple [matRippleCentered]="true" (click)="onSelectMenu('products')"-->
                <!--                     class="toggle-menu-background product"-->
                <!--                     [class.active]="selectedMenu === 'products'">-->
                <!--                    <div class="toggle-menu" [class.active]="selectedMenu === 'products'">Products</div>-->
                <!--                </div>-->
            </div>
            <div class="description-data-container pt-2">
                <div *ngIf="selectedMenu === 'about_us'" class="about-us-page-container">
                    <div class="tab-container mt-4 mb-3 pb-1 border-bottom">
                        <div class="heading-text text-base d-flex justify-content-between align-items-center">
                            <b>Description</b>
                        </div>
                        <div class="content-div pt-1 text-sm my-1">
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the visual form of a document or a typeface without relying on meaningful conte
                        </div>
                    </div>
                    <div class="tab-container mt-4 mb-3 pb-1">
                        <div class="heading-text text-base">
                            <b>Information</b>
                        </div>
                        <div class="timing text-sm d-flex justify-content-between py-1">
                            <div>Sunday - Friday</div>
                            <div>10:00 AM - 07:00 PM</div>
                        </div>
                    </div>
                    <div class="tab-container mt-4 mb-3 pb-1">
                        <div class="content-div pt-1 text-sm my-1">
                            5595, Near Samarth Vidya Mandir, Anandi Bazar, Ahmednagar, Maharashtra, 414001
                        </div>
                        <div class="phone-number-div d-flex justify-content-between
                        align-items-center
                        my-2 gap-2">
                            <div>+91-9422086335</div>
                            <div class="d-flex align-items-center justify-content-end gap-2">
                                <button (click)="sharedService.onCallAction()" class="phone-icon" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    <i class="text-base fa fa-phone"></i>
                                </button>
                                <button (click)="sendMessage()" class="whatsapp-icon" mat-mini-fab aria-label="Example icon button with a menu icon">
                                    <i class="text-base fa fa-whatsapp"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedMenu === 'services'" class="mb-3 services-container">
                    <div class="page-container">
                        <service-list [hideCheckBox]="true" (updateAmount)="updateData($event)"></service-list>
                    </div>
                </div>
                <div *ngIf="selectedMenu === 'owner'" class="owner-container">
                    <div class="tab-container mt-4 mb-3 pb-1 border-bottom">
                        <div class="heading-text text-base">
                            <b>Description</b>
                        </div>
                        <div class="content-div pt-1 text-sm my-1">
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the visual form of a document or a typeface without relying on meaningful conte
                        </div>
                    </div>
                    <div class="tab-container mt-4 mb-3 pb-1 border-bottom">
                        <div class="heading-text text-base">
                            <b>Achievements</b>
                        </div>
                        <div class="content-div pt-1 text-sm my-1">
                            <ul class="list-disc">
                                <li>Media & Beauty Makeup Diploma · Media Makeup · Fsx · Singapore</li>
                                <li>Makeup Techniques with Air Brush Machine · Mumbai, Maharashtra</li>
                                <li>Master Diploma in Makeup Artistry · Singapore</li>
                                <li>Comite International D’Esthetique Et De Cosmetologie., Zurich.</li>
                                <li>British Association of Beauty Therapy & Cosmetology, London.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-container mt-4 mb-3 pb-1">
                        <div class="d-flex justify-content-between heading-text text-base">
                            <b>Portfolio</b>
                            <div (click)="onSeeAllPortfolios()" class="know-more text-sm">See All <i
                                    class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="content-div pt-1 text-sm my-1">
                            <ngx-slick-carousel class="carousel"
                                                #slickModal="slick-carousel"
                                                [config]="slideConfig"
                                                (init)="slickInit($event)"
                                                (breakpoint)="breakpoint($event)"
                                                (afterChange)="afterChange($event)"
                                                (beforeChange)="beforeChange($event)">
                                <div ngxSlickItem *ngFor="let slide of portfolios" class="slide custom-slide my-2">
                                    <img src="{{ slide?.imageUrl }}" alt="" class="w-100 object-fit-cover h-52 rounded shadow-sm">
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedMenu === 'products'" class="product-container">
                    <div *ngIf="productList?.length > 0">
                        <app-product-list [productList]="productList"></app-product-list>
                    </div>
                    <div *ngIf="productList?.length === 0" class="no-data">
                        No Products Available
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" ng-click="closeModal()">
            <ion-pane class="transparent">
                <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
            </ion-pane>
        </div>
    </script>
</ion-content>

<app-footer-component></app-footer-component>
<app-logo-spinner></app-logo-spinner>
