<ion-content [fullscreen]="true">
  <div class="login-main-container">
    <div class="login-container">
      <div (click)="onBackButton()" *ngIf="showBackButton" class="back-container">
        <div class="back-button">
          <i class="fa fa-angle-left"></i>
        </div>
      </div>
      <div *ngIf="showLogo" class="logo-container">
        <div class="logo-image"></div>
        <div class="logo-text">
          Sandhyadeep
        </div>
        <div class="slogan-text">
          Have a hair affair with us
        </div>
      </div>
      <div *ngIf="!otpSubmitted || !phoneNumberSubmitted" class="login-buttons">
        <ng-container *ngIf="!phoneNumberSubmitted">
          <form class="width-100" [formGroup]='phoneForm'>
            <div class="phone-container">
                <mat-form-field class="ngx-phone-number" appearance="outline">
                    <ngx-mat-intl-tel-input formControlName="mobileNumber"
                                            [preferredCountries]="['in']"
                                            [cssClass]="'custom-tel'"
                                            maxLength="10"
                                            [enablePlaceholder]="true" [enableSearch]="true"
                                            name="phone" #phone>
                    </ngx-mat-intl-tel-input>
                    <mat-error *ngIf="phoneForm.get('mobileNumber')?.invalid">Please enter valid phone number</mat-error>
                </mat-form-field>
            </div>
            <div>
              <ion-button (click)="showPolicy()" expand="block">Continue
<!--                <ion-spinner class="margin-0-5" name="circles"></ion-spinner>-->
              </ion-button>
            </div>
          </form>
        </ng-container>


        <div *ngIf="phoneNumberSubmitted" class="otp-box">
          <div style="padding: 0 10px; display: flex; flex-direction: column; text-align: center;">
            <h3>Enter Verification Code</h3>
            <div>We have sent you a 4 digit verification code on the given mobile number.</div>
          </div>
          <div style="display: flex; justify-content: center;">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpInput($event)"
                          [config]="{allowNumbersOnly: true, length:4,inputClass: 'otpInput', containerClass: 'otpContainer'}"></ng-otp-input>
          </div>
          <div (click)="reasonAlert()" class="resend-otp-title">
            <u>Resend OTP</u>
          </div>
          <div class="resend-otp-counter">
            {{counter | countDownPipe}}
          </div>
          <div>
            <ion-button (click)="onSubmitOtp()" expand="block">Continue
<!--              <ion-spinner class="margin-0-5" name="circles"></ion-spinner>-->
            </ion-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
