<div class="skeleton-container add-padding" *ngIf="sharedServiceService.showSkeletonSpinner | async">

    <ion-skeleton-text [animated]="true" style="width: 100%; height: 100px"
    ></ion-skeleton-text>

    <div class="middle-box">
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 60px; height: 60px"
        ></ion-skeleton-text>
    </div>
    <ion-skeleton-text [animated]="true" count="1" style="width: 100%; height: 30px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" count="1" style="width: 100%; height: 30px"
    ></ion-skeleton-text>

    <div class="footer-menu">
        <div>
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 30px"
            ></ion-skeleton-text>
        </div>
        <div>
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 30px"
            ></ion-skeleton-text>
        </div>
        <div>
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 30px"
            ></ion-skeleton-text>
        </div>
        <div>
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 30px"
            ></ion-skeleton-text>
        </div>
    </div>
</div>

<!--<div class="skeleton-container add-padding" *ngIf="sharedServiceService.showServicesSkeletonSpinner | async">-->
<div  *ngIf="sharedServiceService.showServicesSkeletonSpinner | async">
    <!--<div class="skeleton-container add-padding">-->

    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 80px"
    ></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px"
    ></ion-skeleton-text>
</div>


