<div class="skeleton-container add-padding" *ngIf="showSkeletonSpinner">

  <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '100px'}"
  ></ngx-skeleton-loader>

  <div class="middle-box">
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '60px', height: '60px'}"
    ></ngx-skeleton-loader>
  </div>
  <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '100%', height: '30px'}"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader count="1" appearance="line" [theme]="{width: '100%', height: '30px'}"
  ></ngx-skeleton-loader>

  <div class="footer-menu">
    <div>
      <ngx-skeleton-loader appearance="line" [theme]="{width: '30px', height: '30px'}"
      ></ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader appearance="line" [theme]="{width: '30px', height: '30px'}"
      ></ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader appearance="line" [theme]="{width: '30px', height: '30px'}"
      ></ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader appearance="line" [theme]="{width: '30px', height: '30px'}"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>

<div class="skeleton-container add-padding" *ngIf="showServicesSkeletonSpinner">
<!--<div class="skeleton-container add-padding">-->

    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '80px'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '50px'}"
    ></ngx-skeleton-loader>
</div>


