
.sandhyadeep-header-container {
    background: white;
    box-shadow: 0 3px 11px 0 #6c757d3d;
}

.header-container {
  display: flex; align-items: center;
  justify-content: space-between; margin: 0 10px; padding: 5px 0;
  &.ios {
    padding: 40px 0 10px;
  }
  .header-logo {
    width: 100%; display: flex; align-items: center;
    .sandhyadeep-logo {
      width: 65px; overflow: hidden; display: inline-block;
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  .logo-text {
    font-size: 20px;
    font-weight: 700;
  }
  .slogan-text {
    font-size: 10px;
    padding: 3px 5px;
  }
}

.profileIcon {
  width: 40px;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--ion-color-sandhyadeep-blue);
    padding: 2px;
  }
}

.header-back {
  display: flex;
  align-items: center;
  color: #666;
}

.demo-section {
  margin-right: 20px;
  display: flex;
  align-items: center;
  mat-icon {
    font-size: 25px;
  }
}

.logo-icon {
  display: flex; justify-content: space-between; align-items: center;
}

