  <ion-header class="sandhyadeep-header-container">
    <div class="header-container" [ngClass]="{'ios' : runningPlatform === 'ios'}">
      <div class="header-logo">
        <div *ngIf="sharedService.showBackIcon | async" (click)="backClicked()" class="header-back">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>

        <ng-container *ngIf="sharedService.showSearchBox | async; else logo">
          <div class="width-100">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems($event)"></ion-searchbar>
          </div>
        </ng-container>
        <ng-template #logo>
          <div [routerLink]="['/feed']" class="sandhyadeep-logo">
            <img src="{{sharedService?.appLogoImage}}">
          </div>
          <div class="logo-container">
            <div class="logo-text">
              Sandhyadeep
            </div>
            <div class="slogan-text">
              Have a hair affair with us
            </div>
          </div>
        </ng-template>

      </div>
      <div class="logo-icon">
        <div *ngIf="(sharedService.updateCart | async) > 0" class="demo-section">
          <mat-icon [routerLink]="['/schedule-appointment']"  color="primary" matBadge="{{sharedService.updateCart | async}}" matBadgeColor="warn">shopping_cart</mat-icon>
        </div>
        <div *ngIf="!(sharedService.onSettingEvent | async)" [routerLink]="['/settings']" class="profileIcon">
          <img src="{{sharedService?.profileIcon}}" alt="">
        </div>
      </div>
    </div>
  </ion-header>
