<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="multiple">
      <ion-button (click)="select()">Select</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 15px"
                   debounce="1000"
                   (ionChange)="filter($any($event))">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let item of data">
    <ion-checkbox slot="start"
                  [(ngModel)]="item.selected"
                  (ionChange)="itemSelected()">
    </ion-checkbox>
    <div>{{item?.name}}</div>
  </ion-item>
</ion-content>
