//ion-content{
//  --background: transparent;
//}
.image-container {
  padding: 1rem 0;
  height: 100vh;
  background-color: #000000e0;
}
//
//.cross-icon {
//  color: white;
//  font-size: 30px;
//  font-weight: bold;
//  display: inline-block;
//  float: right;
//}
