<ion-header>
</ion-header>

<ion-content>
  <div class="payment-success-container">
    <div class="image-section">
      <div class="payment-image-container">
        <img src="/assets/new-theme/payment-failed.gif" alt="">
      </div>
      <div class="payment-status-section">
        <div class="payment-header">Payment Failed</div>
        <div class="payment-description">
          We are sorry to inform you that your payment is not completed. Please try again to book your appointment.
        </div>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button (click)="closeModal()" class="custom-button"
            mat-raised-button color="primary">Okay
    </button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">

</ion-footer>
