%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  padding: 20px;
  @extend %flex;
  button {
    width: 200px;
  }
}

.payment-status-section {
  .payment-header {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    color: red;
  }
  .payment-description {
    text-align: center;
    font-size: 14px;
  }
}

.image-section {
  padding: 20px;
  height: 400px;
  .payment-image-container {
    width: 100%;
    @extend %flex;
    img {
      width: 230px;
    }
  }
}

.payment-success-container {
  margin-top: 15%;
  padding: 20px;
}
