<ion-content [fullscreen]="true">
  <div #loginImageContainer class="login-main-container">
      <ng-container>
          <div style="display: none" *ngFor="let img of imageArray">
              <img [src]="img" alt="">
          </div>
      </ng-container>
    <div class="login-container">
      <div (click)="onBackButton()" class="back-container">
        <div class="back-button">
          <i class="fa fa-angle-left"></i>
        </div>
      </div>
      <div class="logo-container">
        <div class="logo-image"></div>
        <div class="logo-text">
          Sandhyadeep
        </div>
        <div class="slogan-text">
          Have a hair affair with us
        </div>
      </div>
      <div class="form-main-container">
        <form [formGroup]='loginForm'>
          <div style="margin-bottom: 10px">
              <mat-form-field class="width-100 margin-bottom-20" appearance="outline">
                  <mat-label>Enter Name</mat-label>
                  <input formControlName="name" matInput placeholder="Placeholder">
                  <mat-error>Please enter valid name</mat-error>
              </mat-form-field>
              <mat-form-field class="width-100 margin-bottom-20"  appearance="outline">
                  <mat-label>Enter Email</mat-label>
                  <input formControlName="email" matInput placeholder="Placeholder">
                  <mat-error>Please enter valid name</mat-error>
              </mat-form-field>
              <ion-item class="date-picker-container">
                  <ion-label class="gray-label required-label">Birthday</ion-label>
                  <ion-datetime-button display-format="DD MMM YYYY" datetime="datetime"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                          <ion-datetime formControlName="dob" max="{{todaysDate}}" [showDefaultButtons]="true" presentation="date" id="datetime"></ion-datetime>
                      </ng-template>
                  </ion-modal>
              </ion-item>
          </div>
          <ion-button (click)="onSignUp()" expand="block">Continue
              <ion-spinner *ngIf="showButtonSpinner" class="margin-0-5" name="circles"></ion-spinner>
          </ion-button>
        </form>
      </div>
    </div>
  </div>



</ion-content>
