<ion-content>

  <mat-divider></mat-divider>
  <div class="service-type-container">
    <div class="service-types-container">
      <ng-container *ngIf="services && services.length > 0; else listLoader">
        <ion-list>
          <ion-item class="my-3" *ngFor="let service of services">
            <ion-thumbnail slot="start">
              <div class="d-flex h-100 align-items-center">
                <img (load)="service.loaded = true" class="d-none" [src]="service?.imageUrl"/>
                <ng-container *ngIf="service.loaded; else imgLoader">
                  <img [src]="service?.imageUrl"/>
                </ng-container>
                <ng-template #imgLoader>
                  <ion-skeleton-text [animated]="true" class="w-100">

                  </ion-skeleton-text>
                </ng-template>
              </div>
            </ion-thumbnail>
            <ion-label>
              <div class="text-sm">
                {{service?.name}}
              </div>
              <div class="d-flex my-2 align-items-center gap-2">
                <div class="text-sm text-gray-700">
                  {{service?.price}} ₹
                </div>
                <div class="text-gray-500 text-xs d-flex align-items-center gap-1">
                  <i class="ml-1 fa fa-clock-o"> </i>{{service?.duration}} Minutes
                </div>
              </div>
            </ion-label>
            <div class="service-type-footer-icons">
              <button (click)="onEdit(service)" color="primary" mat-mini-fab>
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </ng-container>
      <ng-template #listLoader>
        <ng-container *ngFor="let tab of [].constructor(10)">
          <ion-skeleton-text class="mb-1" style="height: 70px" [animated]="true">

          </ion-skeleton-text>
        </ng-container>
      </ng-template>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
<!--  <ion-fab slot="fixed" vertical="bottom" horizontal="end">-->
<!--    <ion-fab-button (click)="presentModal({})" size="small">-->
<!--      <ion-icon  name="add"></ion-icon>-->
<!--    </ion-fab-button>-->
<!--  </ion-fab>-->
</ion-content>

