<ion-content>
  <div class="service-type-container">
    <div *ngFor="let user of usersList" class="content">
      <div class="card">
        <div class="firstinfo">
          <div class="user-image-container">
            <img [src]="user?.imageUrl ? user?.imageUrl : '/assets/icon/profile-icon.png'">
          </div>
          <div class="profileinfo">
            <div style="font-size: 16px; line-height: 1.1">{{user?.name | titlecase}}</div>
            <div class="font-12">
                            <span class="profile-name">
                                {{user?.roleId?.name | titlecase}}
                            </span>
            </div>
            <mat-divider></mat-divider>
            <div style="margin-top: 8px" class="font-12"><i class="fa fa-phone"></i> {{user?.mobileNo}}
            </div>
            <div class="font-12"><i class="fa fa-birthday-cake"></i> {{user?.dateOfBirth}}</div>
          </div>
        </div>
        <div class="user-status-container"
             [ngClass]="{'user-active': user?.isActive, 'user-de-active': !user?.isActive }"><i
                class="fa fa-user-circle-o"></i> {{user?.isActive ? 'Active' : 'De-Active'}}
        </div>
      </div>
      <div class="badgescard-container">
        <div class="badgescard">
          <div class="badgescard-email">{{user?.email}}</div>
          <div class="badgescard-buttons">
            <button (click)="onEdit(user)" color="primary" mat-mini-fab>
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button style="margin-left: 5px" (click)="onDelete(user)" color="warn" mat-mini-fab>
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentModal({})" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

