<!--<back-logo-header></back-logo-header>-->
<sandhyadeep-header [showBackIcon]="true" class="z-index-99"></sandhyadeep-header>

<ion-content>
  <swiper #bannerSlide [config]="slideOpts">
    <ng-template swiperSlide>
      <div class="ion-text-center ion-slides-container">
        <img class="display-none" (load)="singlePackage.loaded = true" src="{{singlePackage?.imageUrl}}" alt="image">
        <ng-container *ngIf="singlePackage?.loaded; else imageLoader">
          <img class="pckg-img" (load)="singlePackage.loaded = true" src="{{singlePackage?.imageUrl}}" alt="">
        </ng-container>
        <ng-template #imageLoader>
          <ion-skeleton-text style="height: 200px;" [animated]="true"></ion-skeleton-text>
        </ng-template>

      </div>
    </ng-template>
  </swiper>
  <div class="main-container">
    <div class="package-details-container flex-column">
      <div class="w-100 package-title-details d-flex flex-column gap-2">
        <div class="package-name">{{singlePackage?.name}}</div>
        <div class="package-price">
          <div class="style-1 d-flex align-items-center gap-2">
            <div class="amount-highlight">₹{{singlePackage?.totalAmount - singlePackage?.discount}}</div>
            <div class="amount">₹{{singlePackage?.totalAmount}}</div>
          </div>
        </div>
        <div class="package-duration"><i class="fa fa-clock-o"></i>{{sharedService.getMinutesToHour(singlePackage?.totalDuration)}}</div>
      </div>
      <div *ngIf="!singlePackage?.addedInCart; else addedCart" class="w-100 add-button">
        <div (click)="addToCart(singlePackage?.id)" class="w-50 primary-add-button">
          <button>
            Add to Cart <i class="ps-2 fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <ng-template #addedCart>
        <div class="w-100">
          <div (click)="addToCart(singlePackage?.id)" class="w-50 booked-button">
            <img src="assets/icon/green-tick.png" alt="">
            <div>Added</div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="details-blocks">
      <div class="details-title">Safety Measures</div>
      <div  class="details-list">
        <ul>
          <ng-container *ngFor="let measure of safetyMeasures">
            <li>{{measure}}</li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="details-blocks">
      <div class="details-title">Package Includes</div>
      <div  class="details-list">
        <ul>
          <ng-container *ngFor="let service of singlePackage?.services">
            <li>{{service?.name}}</li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="details-blocks">
      <div class="details-title">Suitable For</div>
      <div  class="details-list">
        <ul>
          <ng-container *ngFor="let skin of skinTypes">
            <li>{{skin | titlecase}}</li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="details-blocks">
      <div class="details-title">Brands Used</div>
      <div  class="details-list">
        <ul>
          <ng-container *ngFor="let singleBrand of brands">
            <li>{{singleBrand | titlecase}}</li>
          </ng-container>
          {{singlePackage?.addedIncart}}

        </ul>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer style="box-shadow: 4px 17px 20px 20px #6c757d3d;" *ngIf="singlePackage?.addedInCart" class="ion-no-border">
  <ion-toolbar>
    <div class="coupon-footer">
      <div class="coupon-button-container">
        <div class="coupon-discount">{{singlePackage?.finalAmount}} ₹</div>
        <div class="details">{{singlePackage?.services?.length}} Services Included</div>
      </div>
      <ion-button [routerLink]="['/schedule-appointment']" expand="block">
        Book Now
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
