
.ion-slides-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white;
  justify-content: center;
  .ion-images-container {
    margin: 15px 0;
    img {
      width: 250px;
    }
    .ion-slide-footer {
      padding: 20px;
    }
  }

}

.slide-title {
  font-weight: 600;
  color: var(--ion-color-sandhyadeep-blue);
}

.ion-slide-toolbar {
  position: fixed;
  top: 20px;
  right: 20px;
}

.last-slide-toolbar {
  padding: 30px;
}
