<sandhyadeep-header class="z-index-999"></sandhyadeep-header>

<ion-content>
  <div class="container">
    <p>Greetings and welcome to our salon booking application! By engaging with our application, you acknowledge and agree to adhere to the following terms and conditions & business policies:</p>
    <div>
      <div class="font-bold text-xl mb-3">
       <strong>Business Policies</strong>
      </div>
      <div>
        <ul class="list-disc">
          <li><b>Booking and Payment:</b> Easily schedule beauty treatment appointments using our application and securely make online payments through UPI, cards, or other available methods. Alternatively, opt for payment at the time of service. Users are required to provide an OTP to the beauty assistant to finalize their booking. The salon owner reserves the right to close the booking upon successful completion of the treatment.</li>
          <li><b>Pay on Service Policy:</b> Opting for pay-on-service and missing an appointment grants users one more chance for such bookings. Subsequent bookings will necessitate payment through UPI or card.</li>
          <li><b>No Show Policy:</b> While we understand unforeseen circumstances, in the event of a no-show, users can request a refund for the missed appointment.</li>
          <li><b>Cancellation Policy:</b> Users have the flexibility to cancel their booking at any time. However, it is mandatory for users to directly contact the salon owner for cancellation. Upon receiving the cancellation request, the refund process will be initiated promptly.</li>
          <li><b>Refund Policy:</b> After initiating a refund, users can track its status on the booking status page, ensuring transparency throughout the process. To complete the refund process, users are requested to inform the application owner, and the entire procedure may take 5-10 working days.</li>
          <li><b>Late Arrival Policy:</b> To ensure a positive experience for all customers, if you are more than 15 minutes late for a scheduled appointment, we may request you to wait until the ongoing service is complete.</li>
          <li><b>Booking Timeframe:</b> Appointments can be scheduled for the next 7 days.</li>
          <li><b>Makeup Policy:</b> For makeup appointments, users can specify a future date.</li>
        </ul>
      </div>
    </div>
    <div class="mt-4">
      <div class="font-bold text-xl mb-3">
        <strong>Terms & Conditions</strong>
      </div>
      <div>
        <ul class="list-disc">
          <li><b>Acceptance of Terms:</b> By accessing or using our salon web application, you are agreeing to these Terms and Conditions. If any part is disagreeable, refrain from using our services.</li>
          <li><b>Service Agreement:</b> Our salon web application offers services. We retain the right to modify, suspend, or discontinue any aspect of the services at any time.</li>
          <li><b>User Privacy Agreement:</b> To access certain features, login through your mobile number. Maintain the confidentiality of your account information and ensure compliance with all applicable laws and regulations.</li>
          <li><b>Payment Policy:</b> Services must be paid for through our designated payment gateway, currently powered by Razorpay. All payments are subject to Razorpay's terms and conditions.</li>
          <li><b>Disclaimer:</b> We provide no representations or warranties, express or implied, regarding the services or the content of the salon web application.</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>