<sandhyadeep-header class="z-index-999"></sandhyadeep-header>


<ion-content [fullscreen]="true">
  <div class="payment-success-container">
    <div class="image-section">
      <div class="payment-image-container my-5">
        <img src="/assets/icon/success-ico.png" alt="">
      </div>
      <div class="payment-status-section">
        <div class="payment-header">Payment Successful</div>
        <div class="payment-description">
          We have booked your appointment. Please go to Booking page to know more.
        </div>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button (click)="closeModal()" class="custom-button"
            mat-raised-button color="primary">Thanks
    </button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">

</ion-footer>
