// My Custom Theme

@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
        50 : #e5ebf2,
        100 : #becdde,
        200 : #93abc8,
        300 : #6789b2,
        400 : #4770a2,
        500 : #265791,
        600 : #224f89,
        700 : #1c467e,
        800 : #173c74,
        900 : #0d2c62,
        A100 : #96b7ff,
        A200 : #6394ff,
        A400 : #3071ff,
        A700 : #175fff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$md-secondary: (
        50 : #f7e4ea,
        100 : #ebbccb,
        200 : #de8fa8,
        300 : #d16285,
        400 : #c7406b,
        500 : #bd1e51,
        600 : #b71a4a,
        700 : #ae1640,
        800 : #a61237,
        900 : #980a27,
        A100 : #ffc6cf,
        A200 : #ff93a4,
        A400 : #ff607a,
        A700 : #ff4764,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$my-primary: mat.define-palette($md-primary, 500);
$my-accent: mat.define-palette($md-secondary, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
        ),
        typography: mat.define-typography-config(),
        density: 0,
));

@include mat.all-component-themes($my-theme);