<ion-content #packageContent>
  <div class="package-container">
    <div class="packages-container">
      <ion-card *ngFor="let combo of packages">
        <div class="packages-image-container">
          <img [src]="combo?.imageUrl"/>
        </div>
        <ion-card-header>
          <div class="ion-card-header">
            <div class="package-name-container">
              <div class="package-name">{{combo?.name}}</div>
              <div style="margin-left: 5px">
                <i style="margin-right: 5px" class="fa fa-clock-o"> </i>{{combo?.totalDuration}} Minutes
              </div>
            </div>
            <div class="package-amount-details">
              <!--              <del>-->
              <!--                <span class="amount">₹{{combo?.totalAmount}}</span>-->
              <!--              </del>-->
              <ins>
                <span class="amount">₹{{combo?.finalAmount}}</span>
              </ins>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div style="font-size: 14px">
            <div *ngIf="combo?.services">
              <div>
                <div class="text-style-horizontal-line">Services</div>
              </div>
              <div *ngIf="combo?.services && (combo?.services?.length > 0)" class="selected-services">
                <div class="each-selected-service" *ngFor="let service of combo?.services">
                  <div>{{service?.name}}</div>
                  <div class="price-label">{{service?.price}} (₹)</div>
                </div>
                <hr>
                <div class="each-selected-service">
                  <div>Total</div>
                  <div>
                    {{combo?.totalAmount}} (₹)
                  </div>
                </div>
                <div *ngIf="combo?.discount > 0" class="each-selected-service discount-row">
                  <div>Discount</div>
                  <div>
                    {{combo?.discount}} (₹)
                  </div>
                </div>
                <div *ngIf="combo?.discount > 0" class="each-selected-service final-amount-row">
                  <div>Final Amount</div>
                  <div>
                    {{combo?.finalAmount}} (₹)
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="combo?.description">
              <div>
                <div class="text-style-horizontal-line">Description</div>
              </div>
              <div style="margin: 5px 0 20px">
                {{combo.description}}
              </div>
            </div>
            <div style="padding: 15px 0;">
              <mat-divider></mat-divider>
            </div>
            <div class="package-footer-icons">
              <button (click)="onEdit(combo)" color="primary" mat-mini-fab>
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button (click)="onDelete(combo)" color="warn" mat-mini-fab>
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentModal(packages)" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

