<ion-header>
  <div class="admin-modal-title-container">
    <div class="admin-modal-title">{{editMode ? 'Update' : 'Add'}} Image Asset</div>
  </div>
</ion-header>
<ion-content>
  <form [formGroup]='componentForm'>
    <div class="modal-form-image">

      <ng-container *ngIf="imageFileUrlControl?.value; else imageSelected">
        <div class="modal-image">
          <img [src]="imageFileUrlControl?.value"
               alt="Image File Asset">
        </div>
      </ng-container>

      <ng-template #imageSelected>
        <ng-container *ngIf="imageBase64?.value">
          <div class="modal-image">
            <img [src]="imageBase64?.value"
                 alt="Base64 Asset" >
          </div>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="!imageFileUrlControl?.value && !imageBase64?.value">
        <div class="modal-image">
          <img class="h-40 object-fit-contain" [src]="appConstants.defaultBusinessImage" alt="">
        </div>
      </ng-container>


      <div class="image-changer">
        <input accept="image/*" (change)="onFileChange($event)" type="file" id="upload"
               hidden/>
        <label class="mb-0" for="upload">
          <ion-icon name="add-circle-outline"></ion-icon>
        </label>
      </div>
    </div>

    <div class="modal-form-container">
      <ion-list>
        <ion-item>
          <ion-label class="required-label" position="floating">Image Asset Name</ion-label>
          <ion-input maxlength="120" formControlName="name"></ion-input>
          <ion-note *ngIf="componentForm.get('name').dirty" slot="error">Please Select Name</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="required-label">Asset Location</ion-label>
          <ion-select formControlName="assetLocation" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let location of assetLocations" [value]="location?.value">{{location?.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </form>
  <div class="admin-modal-button-container">
    <button (click)="onAddAppImage()"
            mat-raised-button color="primary">{{editMode ? 'Update' : 'Save'}}
    </button>
  </div>
</ion-content>
