<ion-content>
  <div class="service-type-container">
    <div class="service-types-container">
      <ion-card *ngFor="let serviceType of serviceTypes">
        <div class="service-types-image-container">
          <img [src]="serviceType?.imageUrl"/>
        </div>
        <ion-card-header>
          <div class="ion-card-header">
            <div class="service-type-name">{{serviceType?.name}}</div>
            <div *ngIf="serviceType?.sequence" style="margin: 0 15px">
              <ion-chip color="primary">{{serviceType?.sequence}}</ion-chip>
            </div>
          </div>
        </ion-card-header>
        <mat-divider></mat-divider>
        <ion-card-content>
          <div class="service-type-footer-icons">
            <button (click)="onEdit(serviceType)" color="primary" mat-mini-fab>
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button (click)="onDelete(serviceType)" color="warn" mat-mini-fab>
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentModal({})" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

