<ion-content>
  <div class="service-type-container">
    <div class="service-types-container">
      <ion-card *ngFor="let coupon of coupons">
        <ion-card-header>
          <div class="ion-card-header">
            <div class="name">{{coupon?.name | titlecase}}</div>
            <div class="coupon-description"> {{coupon?.discountPercent}}% off upto {{coupon?.maxDiscountAmount}} on minimum purchase of {{coupon?.minAmount}} ₹</div>
          </div>
        </ion-card-header>
        <mat-divider></mat-divider>
        <ion-card-content>
          <div class="service-type-footer-icons">
            <button (click)="onView(coupon)" color="primary" mat-mini-fab>
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="onDelete(coupon)" color="warn" mat-mini-fab>
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
<!--  <ion-fab slot="fixed" vertical="bottom" horizontal="end">-->
<!--    <ion-fab-button (click)="presentModal({})" size="small">-->
<!--      <ion-icon name="add"></ion-icon>-->
<!--    </ion-fab-button>-->
<!--  </ion-fab>-->
</ion-content>

