<sandhyadeep-header class="z-index-999"></sandhyadeep-header>
<ion-content #feedPageContent [scrollEvents]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
        <ion-refresher-content pulling-icon="arrow-dropdown" refreshing-spinner="circles">

        </ion-refresher-content>
    </ion-refresher>
    <swiper #bannerSlide [config]="bannerSlideConfig">
        <ng-template *ngFor="let banner of banners" swiperSlide>
            <div class="ion-text-center ion-slides-container">
                <img style="display: none" (load)="banner.loaded = true" src="{{banner?.imageUrl}}" alt="">
                <ng-container *ngIf="banner.loaded; else loader">
                    <img src="{{banner?.imageUrl}}" alt="">
                </ng-container>
                <ng-template #loader>
                    <div style="padding: 1rem 1rem 0">
                        <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '180px'}"></ngx-skeleton-loader>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </swiper>

    <div class="menu-container">
        <div class="feed-heading">
            <div class="heading-text">
                <b>Treatments</b>
            </div>
            <div [routerLink]="['/services']" class="know-more">See All <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="quick_menus">
            <ng-container *ngFor="let treatment of serviceTypesList; let index = index">
                <img (load)="treatment.loaded = true" src="{{treatment.imageUrl}}" alt="" style="display: none">
                <div (click)="goServices()" class="menu-container">
                    <div class="menu-image">
                        <ng-container *ngIf="treatment.loaded; else imgLoad">
                            <img src="{{treatment.imageUrl}}" alt="">
                        </ng-container>
                        <ng-template #imgLoad>
                            <ngx-skeleton-loader appearance="line" [theme]="{width: '100%', height: '100%'}"></ngx-skeleton-loader>
                        </ng-template>
                    </div>
                    <div class="menu-text">{{treatment.name}}</div>
                </div>
            </ng-container>
        </div>

        <div class="feed-heading">
            <div class="heading-text">
                <b>Packages</b>
            </div>
            <div [routerLink]="['/packages']" class="know-more">See All <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="slide_container">
            <swiper #packageSlide [config]="packageSlideOptions">
                <ng-template *ngFor="let packageData of packageList" swiperSlide>
                    <ion-card (click)="onClickPackage(packageData?.id)">
                        <img (load)="packageData.loaded = true" style="display: none" src="{{packageData?.imageUrl}}"
                             alt="">
                        <div>
                            <ng-container *ngIf="packageData.loaded; else packageLoader">
                                <img src="{{packageData?.imageUrl}}" alt="image">
                            </ng-container>
                            <ng-template #packageLoader>
                                <ngx-skeleton-loader appearance="line"
                                                     [theme]="{width: '100%', height: '160px'}"></ngx-skeleton-loader>
                            </ng-template>
                            <div class="pt-2 pb-3 px-2 d-flex flex-column gap-1">
                                <div class="mb-1 package-title">{{packageData?.name | titlecase}}</div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="gap-2 d-flex align-items-center">
                                        <div class="final-amount-tab">
                                            {{packageData?.finalAmount}}
                                        </div>
                                        <div class="discounted-amount text-decoration-line-through">
                                            {{packageData?.totalAmount}}
                                        </div>
                                    </div>
                                    <div class="know-more-link">
                                        Book Now <i class="fa fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-card>
                </ng-template>
            </swiper>
        </div>

        <!--        Removed products for now -->
        <!--        <div class="feed-heading">-->
        <!--            <div class="heading-text">-->
        <!--                <b>Products</b>-->
        <!--            </div>-->
        <!--            <div [routerLink]="['//products']" class="know-more">See All <i class="fa fa-angle-right"></i></div>-->
        <!--        </div>-->
        <!--        <div class="products_container">-->
        <!--            <div *ngFor="let product of productList, let index = index" class="image-slider-container">-->
        <!--                <div class="slider-image">-->
        <!--                    <img src="{{product.url}}" alt="">-->
        <!--                </div>-->
        <!--                <div class="slider-text">-->
        <!--                    <div class="product-name-container">-->
        <!--                        <div class="product-name">-->
        <!--                            {{product.name}}-->
        <!--                        </div>-->
        <!--                        <div class="product-price-details">-->
        <!--                            <div class="price-container">-->
        <!--                                <div class="price">-->
        <!--                                    {{product.price}} ₹-->
        <!--                                </div>-->
        <!--                                <div class="discounted-price">-->
        <!--                                    <del> {{product.discountedPrice}} ₹</del>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <add-button (updateCounter)="onUpdateCounter($event, index)"></add-button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="safety-measures">
            <div class="margin-bottom-10">
                Best-in-class safety measures
            </div>
            <div class="measures-container margin-bottom-10">
                <div class="measure">
                    <div class="measure-image"><img src="assets/icon/mask.png" alt=""></div>
                    <div class="measure-text">Usage of mask & gloves</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/icon/thermometer.png" alt=""></div>
                    <div class="measure-text">Temperature Checks</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/icon/liquid-soap.png" alt=""></div>
                    <div class="measure-text">Sanitizations of tools & area</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/icon/setu.png" alt=""></div>
                    <div class="measure-text">Arogya Setu to ensure Safety</div>
                </div>
            </div>
        </div>
        <div class="feed-heading">
            <div class="heading-text">
                <b>Our Stylist</b>
            </div>
            <div (click)="onKnowMore()" class="know-more">Know More <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="application-details">
            <div class="owner-info-container">
                <div [routerLink]="['//about-us']" class="owner-image">
                    <img src="assets/owner-images/deepaa_bhagwat.jpg">
                </div>
                <div class="owner-details">
                    <div class="owner-name">Deepaa Bhagwat</div>
                    <div class="social-media-icons">
                        <div class="fb-icon"><i class="media-icon fa fa-facebook"></i></div>
                        <div class="insta-icon"><i class="media-icon fa fa-instagram"></i></div>
                        <div class="linkedin-icon"><i class="media-icon fa fa-linkedin"></i></div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Media & Beauty Makeup Diploma · Media Makeup · Fsx · Singapore</li>
                        <li>Makeup Techniques with Air Brush Machine · Mumbai, Maharashtra</li>
                        <li>Master Diploma in Makeup Artistry · Singapore</li>
                        <li>Comite International D’Esthetique Et De Cosmetologie., Zurich.</li>
                        <li>British Association of Beauty Therapy & Cosmetology, London.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy-rights">
            <i class="fa fa-copyright"></i> Copyright {{todayYear}} <br> Sandhyadeep Beauty Parlour <br>
        </div>
    </div>
    <app-skeleton-loader></app-skeleton-loader>
</ion-content>
<app-footer-component></app-footer-component>
<!--<app-logo-spinner></app-logo-spinner>-->
